*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: rgb(45, 44, 44);
}

.logo{
    width: 200px;
    padding-left: 3rem;
    @media all and (min-width:768px){
        width: 150px;
    }
}

.icon1{
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    @media all and (min-width:768px){
        display: none;
    }
}
.icon2{
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.header{
    font-size: 8rem;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -4rem;
    @media all and (min-width: 768px){ 
        margin-bottom: 0rem;
    }
    
    &__nav{
        display:flex;
        flex-direction: row;
        width: 100%;  
        height: 4rem; 
        
    }
     &__navUl{
        display:none;
        list-style: none;
        flex-grow: 5;
        
        @media all and (min-width: 768px){ 
            display: flex;
            gap: 8rem;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            //background:radial-gradient(rgb(119, 209, 247), #2596be);
            //transform: translateY(20%);
            //z-index:1;
    
            &--li{
                text-decoration: none;
                font-size: 1.8rem;
                cursor: pointer;
            }
        }
    }
}

.hero-section{
    font-size: 5rem;
    background-image: url(../images/batallagrupos.jfif);
    background-size: cover;
    color: white;
    height: 75vh;
    position:relative;
    background-position: 50% 50%;
    box-shadow: 0px 0px 30px 1px rgb(251, 95, 209);
    @media all and (min-width: 768px){ 
       background-position: 50% 45%;
    }
}
.hero{
    background-color: rgba(251, 95, 209, 0.4);
    z-index: 2;
    height: 100%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title{
        font-family: 'Dancing Script', sans-serif;
        font-size: 7rem;
        line-height: 6rem;
        padding-left: 4rem;
        padding-right: 4rem;
        color: white;
        padding-top: 2rem;
        text-shadow: 3px 2px #8a028d;
        @media all and (min-width: 768px){ 
            font-size: 10rem;
            padding-bottom: 3rem;
        }
    }
    &__p{
        padding:3rem;
        color: white;
    }
    &__button{
        padding: 1rem 2rem 1rem 2rem;
        border: none;
        border-radius: 2rem;
        background: rgb(237, 38, 174);
        border-radius: 20px;
        display: flex;
        justify-content: center;
    }

    &__a{
        font-family: 'Work Sans';
        text-decoration: none;
        font-size: 2rem;
        color:  rgb(255, 255, 255);
        font-weight: 600;
        cursor: pointer;
    }
}
.explainSection{
    padding: 4rem;
    &__title{
        font-size: 3rem;
        padding-bottom: 2rem;;
    }
    &__article{
        font-size: 2.5rem;
        
        &--h3{padding-top: 10rem;}
        &--img{}
        &--desc{}
    }

}
